@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');

body {
  font-family: 'Outfit', sans-serif;
}

footer {
  position: absolute;
  bottom: 15px;
  align-self: center;
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}